
<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Name</th>
            <th>Salary</th>
            <th>Job Title</th>
            <th>Address</th>


        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Salary</td>
            <td>@Model.JobTitle</td>
            <td>@Model.Address</td>



        </tr>
    </tbody>

</table>
